<section class="obsydian-section">
    <span class="obsydian-span">
    <div class="obsydian-div">
<div class="obsydian-container">
    <h2>My Account Details</h2>
    <form class="app-form" *ngIf="profile"[formGroup]="profileForm" autocomplete="on">

        <div class="profile-picture">
            <label>Profile Picture</label>
            <app-avatar
              [userId]="userId"
              [url]="currentAvatarUrl"
              (loaded)="showLoader()"
              (uploaded)="onAvatarUploadComplete($event)"
              (removed)="onAvatarRemove()"
              (picked)="onAvatarPicked()"
              >
            </app-avatar>
          </div>

    <mat-form-field>
      <input matInput placeholder="First Name" type="text" formControlName="fname" autocomplete="family-name" required>
      <mat-hint *ngIf="!fnameInput.value">Enter your first name</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Last Name" type="text" formControlName="lname" autocomplete="given-name" required>
      <mat-hint *ngIf="!lnameInput.value">Enter your last name</mat-hint>
    </mat-form-field>

    <mat-form-field>
        <span matPrefix>{{countryCode}} &nbsp;</span>
      <input type="tel" placeholder="Mobile Number" matInput formControlName="phone" autocomplete="tel">
    </mat-form-field>

    <table class="app-form-label" cellspacing="0">
        <tr class="text-center">
          <td>
              <button mat-raised-button color="primary" (click)="editProfile()" [class.spinner]="loading" [disabled]="loading.loading || !profileForm.valid"><span *ngIf="!loading">Save</span></button>
              &nbsp;
              <button *ngIf="!loading" mat-stroked-button (click)="signOut()" class="signout">Sign Out</button>
          </td>
        </tr>
    </table>


    </form>
  </div>
</div>
</span>
</section>
