<footer class="footer-wrapper">
    <div class="container">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap">
                <div class="text-center" style="padding: 30px">
                        <img src="../../../assets/images/PayGate-Card-Brand-Logo-Visa.png"/>
                        <img src="../../../assets/images/PayGate-3D-Secure-Logo-Verified-by-Visa.png"/>
                        <img src="../../../assets/images/PayGate-Card-Brand-Logo-MasterCard.png"/>
                        <img src="../../../assets/images/PayGate-3D-Secure-Logo-MasterCard-SecureCode.png"/>
                        <!-- <img src="../../../assets/images/PayGate-Direct-Pay-Online-Logo-Online-Payment-Processing.png"/> -->
                        <div class="text-center">
                                <a mat-button routerLink="/terms">Terms of service</a> &nbsp;&nbsp; <a mat-button routerLink="/privacy">Privacy Policy</a> &nbsp;&nbsp; <a mat-button routerLink="/faqs">FAQs</a>
                        </div>
                    </div>
            <div fxFlex="33.33" class="footer-item text-center">
                Obsidian Technologies Pty. Ltd 2020©, All rights reserved
            </div>
        </div>
    </div>

</footer>
