<section *ngIf="productList" class="obsidian-product-listing-section">
  <span *ngFor="let product of productList" class="obsidian-product-listing-span" style="display: inline-block;">
    <div class="obsidian-product-listing-div">
      <div class="obsidian-product-listing-container">
        <ng-container>
          <div class="text-center">
            <img src="https://picsum.photos/300" class="image" />
            <div class="level is-size-4 is-uppercase">
              <span class="level-item">Belaire</span>
              &nbsp;
              <span class="level-item has-text-weight-bold">$100</span>
            </div>
            <app-actions [product]="product"></app-actions>
          </div>
        </ng-container>
      </div>
    </div>
  </span>
</section>
