<section class="obsydian-section">
    <span class="obsydian-span">
      <div class="obsydian-div">
        <div class="obsydian-container">
<div *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<form class="app-form" *ngIf="!loading && !resetCodeSent" [formGroup]="forgotPasswordForm">
  <div class="text-center" style="padding-bottom: 12px;">
      <strong>Forgot your password?</strong>
  </div>

    <table class="app-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="app-full-width">
              <input matInput placeholder="Email" type="email" formControlName="email">
              <mat-hint *ngIf="!emailInput?.value">Enter your Email above and we will send a message to reset your password</mat-hint>
          </mat-form-field>
          </td>
        </tr>
    </table>

    <table class="app-full-width" style="margin-top: 22px;" cellspacing="0">
        <tr class="text-center">
          <td>
              <button mat-raised-button color="primary" [disabled]="shouldEnableSubmit()" (click)="forgotPassword()">Reset my password</button>
          </td>
        </tr>
    </table>
</form>

<form class="app-form" *ngIf="!loading && resetCodeSent" [formGroup]="resetPasswordForm">
  <div class="text-center" style="padding-bottom: 12px;">
      <strong>We have sent a password reset code by email to {{this.email}}. Enter it below to reset your password.</strong>
  </div>

  <table class="app-full-width" cellspacing="0">
    <tr>
      <td>
          <mat-form-field class="app-full-width">
              <mat-label>Code</mat-label>
              <input matInput placeholder="Code" type="text" formControlName="code" required>
          </mat-form-field>
      </td>
    </tr>
</table>

  <table class="app-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="app-full-width">
          <mat-label>New Password</mat-label>
          <input matInput type="password" required name="Password" placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" />
          <mat-icon matSuffix class="cursor-pointer" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="passwordInput?.hasError('minlength')">
              Password must contain at least 8 characters
            </mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <table class="app-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="app-full-width">
          <mat-label>Enter New Password Again</mat-label>
          <input matInput type="password" required name="PasswordAgain" [type]="hide ? 'password' : 'text'" formControlName="passwordAgain" />
          <mat-icon matSuffix class="cursor-pointer" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="passwordAgainInput?.hasError('minlength')">
              Password must contain at least 8 characters
            </mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>

    <table class="app-full-width" style="margin-top: 10px;" cellspacing="0">
        <tr class="text-center">
          <td>
              <button mat-raised-button color="primary" [disabled]="shouldEnableResetSubmit()" (click)="resetPassword()">Change Password</button>
          </td>
        </tr>
    </table>
</form>
</div>
</div>
</span>
</section>
