<span class="obsidian-actions-span">
  <span class="obsidian-actions-div">
    <span class="obsidian-actions-container">
      <span class="buttons has-addons is-centered">
        <button mat-stroked-button color="primary" (click)="viewProduct()">
          <mat-icon>visibility</mat-icon> <span style="font-size: 12px;"> View</span>
        </button>
        &nbsp;

        <button mat-stroked-button color="primary" (click)="addProductToCart()">
          <mat-icon>shopping_cart</mat-icon> <span style="font-size: 12px;"> Add to cart</span>
        </button>
        &nbsp;

        <button mat-stroked-button color="primary" (click)="buyProduct()">
          <mat-icon>paid</mat-icon> <span style="font-size: 12px;"> Buy!</span>
        </button>
      </span>
    </span>
  </span>
</span>
