<section class="obsydian-section">
  <span class="obsydian-span">
    <div class="obsydian-div">
      <div class="obsydian-container">
        <form class="app-form" [formGroup]="signinForm">

          <table class="app-full-width" cellspacing="0">
            <tr>
              <td>
                <div class="text-center" style="padding-bottom: 12px;">
                  <strong>{{header}}</strong>
                </div>
              </td>
            </tr>
          </table>

          <table class="app-full-width text-center" cellspacing="0">
            <tr>
              <td>
                <button mat-stroked-button color="primary" (click)="signInWithGoogle()">
                  Sign In with Google
                </button>
              </td>
            </tr>
          </table>

          <table class="app-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="app-full-width">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Ex. pat@example.com" required name="UserEmail" formControlName="email"
                    autocomplete="email" />
                  <mat-error *ngIf="emailInput?.hasError('email') && !emailInput?.hasError('required')">
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="emailInput?.hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
          </table>
          <table class="app-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="app-full-width">
                  <mat-label>Password</mat-label>
                  <input matInput type="password" required name="Password" placeholder="Password"
                    [type]="hide ? 'password' : 'text'" formControlName="password" />
                  <mat-icon matSuffix class="cursor-pointer" (click)="hide = !hide">
                    {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
              </td>
            </tr>
            <p><span class="obsidian-small-text obsidian-link" routerLink="/auth/reset-password">Forgot your password?</span></p>
          </table>

          <table class="app-full-width" cellspacing="0">
            <tr class="text-center">
              <td>
                  <button *ngIf="!loading" mat-stroked-button color="primary" routerLink="/landing">Close</button>
                  &nbsp;
                <button [disabled]="shouldEnableSubmit() || loading" [style.margin-top.px]="mobileQuery.matches ? 10 : 0"
                  mat-raised-button color="primary" (click)="signIn()" [class.spinner]="loading"><span *ngIf="!loading">Sign In</span></button>
              </td>
            </tr>
          </table>

          <table cellspacing="0">
              <tr>
                <td>
                  <p class="obsidian-small-text">By continuing, you agree to Obsydian`s <span class="obsidian-link" routerLink="/privacy"><strong>Conditions of Use</strong></span> and <span
                      class="obsidian-link" routerLink="/privacy"><strong>Privacy</strong></span>
                    Notice.<p>
                </td>
              </tr>
            </table>

            <table cellspacing="0">
                <tr>
                  <td>
                      <p class="text-center"><span class="obsidian-small-text" routerLink="/auth/sign-up">Need an account? <span class="obsidian-link"><strong>Sign
                          Up</strong></span></span></p>
                    <p class="obsidian-small-text" style="color: red;" *ngIf="errorMessage">{{errorMessage}}</p>
                  </td>
                </tr>
              </table>

        </form>
      </div>
    </div>
  </span>
</section>
